@font-face{

    font-family:Gilroy;
    src:url(../fonts/Gilroy-FREE/Gilroy-ExtraBold.otf);


    font-family:kajiro;
    src:url(../fonts/Kajiro/Kajiro\ Bold.ttf);


    
}


/* CSS Document */

*{margin:0; padding:0;box-sizing: border-box;}
body{margin:0; padding:0;box-sizing:border-box; font-family:'Poppins', sans-serif;} 
ul li{list-style-type:none;}
a{text-decoration: none; color:inherit;}
img{max-width:100%; height:auto;}
::selection{background-color: black;
color: white;}

.main{
    width: 100%;
    height: 100vh;
    position: relative;
    
}

.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    top:0%;
    pointer-events: none;
}
.raap{
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    
}

.nav{width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
padding: 30px 0px;}

.left{display: flex;
align-items: center;
gap:100px;}

.left-img img{
    height: auto;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
    pointer-events: all;
}

.left-text{display: flex;
align-items: center;
gap:50px;}

.left-text h5{
    font-size: 22px;
    font-family: "Gilroy";
    color: white;
  pointer-events: all;
    cursor: pointer;
}

.right{
    display: flex;
    align-items: center;
gap:50px;}

.right h5{
    font-size: 22px;
    font-family: "Gilroy";
    color: white;
   cursor: pointer;
   pointer-events: all;
}   

.rapper-text{display: flex;
justify-content: space-between;}

.rapper-text-left{margin-top: 50px;
min-height: 40%;}

.elm{ height: 170px;
    overflow: hidden;}
    
.elm h1{
    font-size: 10vw;
    font-family: "kajiro";
    color: white;
    font-weight: 100;}

.left-button {margin-top: 100px;}    
.left-button button{
    width: 200px;
    height: 50px;
    background-color: white;
    border: none;
    color: black;
    font-family:"kajiro";
    font-size: 30px;
    cursor: pointer;
    pointer-events: all;
}  


.img-box img{
    width: 100%;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    background-position: center;
}


.rapper-text-right{width: 20%;
display: flex;
flex-direction: column;
text-align: end;} 

.rapper-text-right p{
    font-size: 20px;
    font-family: "Gilroy";
    color: white;
    font-weight: 100;
}

.rapper-text-right p:nth-child(4){
    margin-top: 100px;
}
